# Build output
bin/
obj/

# User-specific files
*.user
*.rsuser
*.suo
*.userprefs
*.vs/

# VS Code settings
.vscode/

# Dotnet Core
*.dotCover

# NuGet packages
*.nupkg
*.snupkg
.nuget/

# Visual Studio cache files
*.cache
*.pdb
*.mdb

# Logs
*.log
logs/

# Publish output
publish/

# Rider files
.idea/

# IIS Express
iisexpress/

# JetBrains Rider
.idea/

# Azure Web App publish settings
*.PublishSettings

# Dotenv environment variables file
.env

# Others
.DS_Store
